header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 11;
  background-color: var(--main-white);
  border-bottom: 1.5px solid var(--main-black);
}

.header-div {
  display: flex;
  width: 70%;
  margin: auto;
  padding: 1.5rem 0rem;
  justify-content: space-between;
}

.header-div div {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  align-items: center;
}

.header-div a {
  text-decoration: none;
}

.header-div a h3 {
  font-size: 34px;
  margin: 0;
  color: var(--main-black);
}

.header-div nav {
  display: flex;
  align-items: center;
}

.header-div .links {
  display: flex;
  flex-direction: row;
  gap: 4.5rem;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.header-div .links li a {
  color: var(--main-black);
  font-size: 18px;
  font-weight: 500;
  transition: 0.55s ease;
}

.header-div .links li a:hover {
  color: var(--main-gold);
}

.header-div .icons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 3.5rem;
  align-items: center;
  justify-content: center;
  transition: 0.55s ease;
}

.header-div .icons li img {
  transition: filter 0.35s ease;
  cursor: pointer;
}

.header-div .icons li img:hover {
  filter: invert(44%) sepia(47%) saturate(921%) hue-rotate(2deg) brightness(95%)
    contrast(94%);
}

.header-div #cart-account {
  background-color: var(--main-gold);
  border-radius: 100%;
  display: inline-block;
  width: 1.5rem;
  line-height: 1.5rem;
  aspect-ratio: 1;
  text-align: center;
}

.header-div .icons li {
  display: flex;
  align-items: center;
}

.header-div .themeButton {
  background-color: transparent;
  border: none;
  font-size: 28px;
  font-weight: 600;
  cursor: pointer;
}
